NODE_ENV=development
PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ofertando
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@db:5432/ofertando?schema=public

JWT_SECRET=change_this_secret_for_production
JWT_EXPIRES_IN=1d
